.select-field {
  width: 340px;
  height: fit-content;
  padding: 30px;
  border-radius: 5px;
}

.characters-section {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.MuiAutocomplete-root fieldset{
  border-color: #ffffff;
}
