.container {
  padding-top: 40px;
}

.profile {
  display: flex;
  justify-content: center; 
  gap: 50px;
}

.profile-info {
  color: #fff;
  flex-basis: 40%;
  border-radius: 2px;
  padding: 10px;
  min-width: 300px;
}

.profile-info__row {
  margin-bottom: 10px;
  font-size: 16px;
  word-break: break-all;
}

.profile-info__row > span {
  color: #9bff00;
  font-weight: 500;
}

.profile__avatar {
  flex-basis: 40%;
}

.profile__img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
  }
}
